*, *:before, *:after
{
  box-sizing: border-box;
}

body
{
  margin: 0 auto;
  padding: 1em;
  max-width: 600px;
  min-width: 320px;

  font-size: 18px;
}

img
{
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

video
{
  width: 100%;
}

.games
{
  display: flex;
  flex-wrap: wrap;

  padding: 0;

  list-style: none;
  text-align: center;
}

.games > *
{
  margin-bottom: 0.667em;
  width: 100%;
}

.games .logo img
{
  padding: 0.333em;
}

.experimental-games
{
  margin-top: -0.7em;

  text-align: initial;
}

.experimental-games .logo-inline
{
  top: 0.7em;

  width: 2em;
}

.logo
{
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}
.logo img
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: block;

  width: 100%;
}

.logo-inline
{
  position: relative;
  top: 0.15em;

  display: inline-block;

  width: 1em;
}

.logo img,
.logo-inline
{
  border-radius: 25%;
}

.half
{
  width: 50%;
}

@media (min-width: 425px) {
  body
  {
    font-size: 22px;
  }

  .games > *
  {
    width: 50%;
  }
}

@media (min-width: 600px) {
  body
  {
    font-size: 26px;
  }
}
