*, *:before, *:after
{
  box-sizing: border-box;
}

body
{
  margin: 0 auto;
  padding: 15px;
  padding-bottom: 75px;
  max-width: 22em;
  min-width: 320px;

  font-family: "Trebuchet MS", sans-serif;
  font-size: calc(12px + 1.2vmin);
  color: #494444;
  background: #e3e3ee;
}

body.document
{
  max-width: 75em;

  font-size: calc(10px + 1.0vmin);
}

:is(article, aside, nav, section) h1 {
  font-size: 2em;
}

h1, h2, h3
{
  margin-block: 1.66em 0.83em;
}

h1 + h2.inline-icon-title
{
  margin-block-start: 0.83em;
}

img
{
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

video
{
  width: 100%;
}

input
{
  padding: 0.2em 0.5em;

  font-size: inherit;
}

hr
{
  border: solid 1px #999;
  margin: 0;
  margin-block-start: 2em;
  margin-block-end: 1em;

  background: #999;
}

.games, .experimental-games
{
  flex-wrap: wrap;

  padding: 0;

  list-style: none;
}

.games
{
  display: flex;

  text-align: center;
}

.games > *
{
  margin-block-end: 0.667em;
  width: 50%;
  min-width: 200px;
}

.games .logo img
{
  padding: 0.333em;
}

.logo
{
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}
.logo img
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: block;

  width: 100%;
}

.logo img,
.inline-icon-title img
{
  border-radius: 25%;
}

.experimental-games .inline-icon-title
{
  margin-block-end: 0.5em;
}

.inline-icon-title
{
  display: flex;
  align-items: center;
}

.inline-icon-title > *:first-child
{
  flex-shrink: 0;
  margin-inline-end: 0.66em;
  width: 2em;
}

.inline-icon-title > *:last-child
{
  flex-grow: 1;
}

.document img
{
  max-height: 20em;
}

.document .section
{
  margin-block-end: 1em;
}

.press-kit-image-list > *
{
  display: block;
  margin-inline: 0;
  margin-block-end: 0.5em;
}

.header-with-subtitle
{
  margin-block-end: 1em;
}

.header-with-subtitle > *
{
  display: inline-block;
  margin-block-end: 0;
  margin-inline-end: 0.5em;
}

.header-with-download > *
{
  display: inline-block;
}
.header-with-download > * + *
{
  margin-inline-start: 0.5em;
}

.back-to-top
{
  display: inline-block;
  position: fixed;
  right: 1em;
  bottom: 1em;
  padding: 0.5em 1em;

  background: white;
}

.iframe-video-container
{
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
  padding-bottom: 56.5%; /* 16:9 aspect ratio hack */
}
.iframe-video-container iframe
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.document .primary-sidebar nav ul
{
  padding: 0;
}
.document .primary-sidebar nav > ul
{
  list-style: none;
  margin: -0.5em;
}
.document .primary-sidebar nav > ul ul
{
  list-style: initial;
  margin-inline-start: 1.5em;
}
.document .primary-sidebar nav a
{
  display: block;
  padding: 0.25em 0.5em;

  text-decoration: none;
}
.document .primary-sidebar nav a:hover,
.document .primary-sidebar nav a:focus
{
  background: #d2d2dd;
}

@media (prefers-color-scheme: dark)
{
  body
  {
    color: #c3c3cc;
    background: #22222b;
  }

  hr
  {
    border-color: #bbb;
    background: #bbb;
  }

  a:any-link
  {
    color: #88f;
    text-decoration-color: #88f;
  }

  a:any-link:visited
  {
    color: #b8b;
    text-decoration-color: #b8b;
  }

  .document .primary-sidebar nav a:hover,
  .document .primary-sidebar nav a:focus
  {
    background: #191922;
  }

  .back-to-top
  {
    background: #33333d;
  }
}

.header-nav
{
  display: flex;
  align-items: center;
  margin-block-start: 1em;
  margin-block-end: 2em;
}

.header-nav a
{
  display: block;
}

.header-nav img
{
  display: block;
  margin: 0;
}

.header-nav .header-nav__main-logo
{
  width: 10em;
}

.header-nav__social-links
{
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin-inline-start: 2em;
}

.header-nav__social-links img
{
  width: 2em;
  height: 2em;
  max-width: initial;
}

.header-nav__social-links a + a
{
}

@media (min-width: 40em)
{
  .experimental-games
  {
    display: flex;
  }

  .experimental-games > li
  {
    width: 50%;
  }
}

@media (min-width: 60em)
{
  body.document
  {
    padding-left: 2em;
    padding-right: 2em;

    font-size: calc(8px + 0.8vmin);
  }
  
  :is(article, aside, nav, section) h1 {
    font-size: 1.5em;
  }

  .header-with-subtitle > *
  {
    display: block;
    margin-inline-end: 0;
  }

  .split
  {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    margin: -0.5em;
  }

  .split.split-wrap
  {
    flex-wrap: wrap;
  }

  .split > aside
  {
    flex-grow: 0;
    min-width: 17.5em;
    width: 17.5em;
  }

  .split > *
  {
    flex-grow: 1;
    padding: 0.5em;
  }
  .split.split-equal > *
  {
    flex-basis: 0;
  }

  .document .primary-sidebar
  {
    position: sticky;
    top: 1em;
    min-width: 15em;
    width: 15em;
  }

  .press-kit-image-list > *
  {
    flex-grow: 0;
    max-width: 50%;
    margin-block-end: 0;
    object-fit: scale-down;
  }

  .back-to-top
  {
    display: none;
  }
}
